# Ignore everything in the root except the "public" directory
/*
!.gitignore
!public/

# Ignore everything in the "public" directory except the "css", "js", and "img" directories
/public/*
!/public/css/
!/public/js/
!/public/img/

# Ignore all files in the "css", "js", and "img" directories
/public/css/*
/public/js/*
/public/img/*
